body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header Styles */
header {
    background-color: #ffcccb; 
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


#about {
    background-color: #ffe4e1; 
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
}

/* Joke Section Styles */
#joke-section {
    background-color: #fff3e6;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
    text-align: center;
}
#new-joke-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff69b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; 

}

#new-joke-button:hover {
    background-color: #ff1493; 
}

/* Footer Styles */
footer {
    background-color: #ffcccb; 
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

